#
# Modbus configuration
#
CONFIG_MB_SLAVE_ADDR=1
CONFIG_MB_UART_BAUD_RATE=9600
CONFIG_FMB_TIMER_PORT_ENABLED=y
CONFIG_FMB_TIMER_USE_ISR_DISPATCH_METHOD=y
CONFIG_MB_UART_PORT_NUM=1
CONFIG_MB_UART_RXD=25
CONFIG_MB_UART_TXD=26
CONFIG_MB_UART_RTS=33
CONFIG_MB_COMM_MODE_RTU=y
# CONFIG_MB_COMM_MODE_ASCII is not set

#
# SPnet Configuration
#
CONFIG_SP_UART_PACKET_READ_TICS=50
CONFIG_SP_UART_PORT_TWO=y
CONFIG_SP_UART_PORT_NUM=2
CONFIG_SP_UART_BAUD_RATE=9600
CONFIG_SP_UART_RXD=21
CONFIG_SP_UART_TXD=23
CONFIG_SP_UART_RTS=22
CONFIG_SP_TASK_STACK_SIZE=3072
# end of SPnet Configuration